# Binaries & Builds
build/bin/
publish/
*.exe
*.dll
*.pdb

# Node.js & Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.vite/

# Go
bin/
*.test
*.out

# IDEs & OS
.vs/
.vscode/
.idea/
*.user
Thumbs.db
